* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    max-width: 1280px;
    padding: 24px;
    background-color: #5c0380; /* #8455ad; */
    color: #dedede;
}

.nav__logo {
    font-size: 24px;
}

.nav__links {
    font-size: 24px;
}

.nav__link {
    padding: 0 8px;
    color: #fff;
}

#landing-page {
    background-image: url("film_roll.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; /*  #ebdbf9; */
    color: #fefefe; /* #5c0380; */
    height: calc(100dvh - 128px);
    overflow-y: scroll;
    width: 100%;
    max-width: 1280px;
}

.title {
    margin: 8px;
    font-size: 40px;
}

.sub-title {
    margin: 8px;
    font-size: 24px;
}

.search-bar {
    padding: 16px 0;
    font-size: 24px;
    text-align: center;
}

#search_shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input,
select {
    margin: 2px 4px;
    width: 240px;
    height: 40px;
    border: none; /* 2px solid #5c0380; */ /* #8455ad; */
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
}

.input__searchText,
.input__maxResults,
.input__filter {
    position: relative;
}

.tooltip__searchText,
.tooltip__maxResults,
.tooltip__filter {
    position: absolute;
    width: 240px;
    left: 4px;
    top: 105%;
    visibility: hidden;
    z-index: 1;
    font-size: 16px;
    background: #000;
    border: 1px solid #dedede;
    border-radius: 5px;
}

.input__searchText:hover .tooltip__searchText,
.input__maxResults:hover .tooltip__maxResults,
.input__filter:hover .tooltip__filter {
    visibility: visible;
}

input::placeholder {
    color: #000;
}

.btn {
    width: auto;
    padding: 0 8px;
    height: 40px;
    border: none; /* 2px solid #8455ad; */
    color: #fff;
    cursor: pointer;
    background-color: #5c0380; /* #8455ad; */
    border-radius: 8px;
    font-size: 24px;
    transition: all 300ms ease;
}

.btn:hover {
    filter: brightness(125%);
}

.shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.show {
    width: calc(90% / 5);
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
    height: 330px;
    position: relative;
}

.show-plot {
    background: #000;
    width: 100%;
    border-radius: 10px;
    position: absolute;
}

.image {
    width: 150px;
    max-height: 260px;
}

.shows__loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #8455ad;
}

.fa-spinner {
    opacity: 0;
}

.shows__loading .fa-spinner {
    opacity: 1;
    animation: rotate 600ms infinite linear;
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    max-width: 1280px;
    padding: 24px;
    background-color:#5c0380; /* #8455ad; */
    color: #dedede;
}

footer a {
    color: #fff;
}

@media (max-width: 1024px) {
    .show {
        width: calc(90% / 4);
    }
}

@media (max-width: 768px) {
    .show {
        width: calc(90% / 3);
    }
}

@media (max-width: 650px) {
    .title {
        margin: 4px;
        font-size: 24px;
    }

    .sub-title {
        margin: 4px;
        font-size: 16px;
    }

    input,
    select {
        height: 28px;
        padding: 4px 0;
        font-size: 18px;
        width: 150px;
    }

    .tooltip__searchText,
    .tooltip__maxResults,
    .tooltip__filter {
        width: 150px;
        font-size: 12px;
    }

    .btn {
        height: 28px;
        font-size: 18px;
        padding: 0 4px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .show {
        width: calc(90% / 2);
    }
}
