* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    max-width: 1280px;
    padding: 24px;
    background-color: #8455ad;
    color: #fff;
}

.nav__logo {
    font-size: 24px;
}

.nav__links {
    font-size: 16px;
}

.nav__link {
    padding: 0 8px;
    color: #fff;
}

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebdbf9;
    color: #5c0380;
    height: calc(100dvh - 128px);
    overflow-y: scroll;
    width: 100%;
    max-width: 1280px;
}

.title {
    margin: 8px;
    font-size: 40px;
}

.sub-title {
    margin: 8px;
    font-size: 24px;
}


.search-bar {
    padding: 8px 0;
    font-size: 24px;
    text-align: center;
}

#search_shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input,
select {
    margin: 0 4px;
    width: 240px;
    height: 40px;
    border: 2px solid #8455ad;
    color: #8455ad;
    background-color: #fff;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
}

.btn {
    width: auto;
    padding: 0 8px;
    height: 40px;
    border: 2px solid #8455ad;
    color: #fff;
    cursor: pointer;
    background-color: #8455ad;
    border-radius: 8px;
    font-size: 24px;
    transition: opacity 300ms ease;
}

.btn:hover {
    opacity: 0.8;
}

.shows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.show {
    width: calc(90% / 5);
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
    height: 330px;
}

.image {
    width: 150px;
    max-height: 260px;
}

.shows__loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #8455ad;
}

.fa-spinner {
    opacity: 0;
}

.shows__loading .fa-spinner {
    opacity: 1;
    animation: rotate 600ms infinite linear;
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    max-width: 1280px;
    padding: 24px;
    background-color: #8455ad;
    color: #fff;
}

footer a {
    color: #fff;
}

@media (max-width: 1024px) {
    .show {
        width: calc(90% / 4);
    }
}

@media (max-width: 768px) {
    .show {
        width: calc(90% / 3);
    }
}

@media (max-width: 650px) {
    .title {
        margin: 4px;
        font-size: 24px;
    }

    .sub-title {
        margin: 4px;
        font-size: 16px;
    }

    input,
    select,
    .btn {
        padding: 4px 0;
        font-size: 16px;
    }
    .btn {
        padding: 0 4px;
    }

    #search_shows {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .show {
        width: calc(90% / 2);
    }
}
